*{
  margin: 0px;
  padding: 0px;
  
}
body {
  background-color: black;
  height: auto;
}


body::-webkit-scrollbar {
  width: 12px;               /* width of the entire scrollbar */
 
}

body::-webkit-scrollbar-track {
  background: #291A2C;        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: #F6C6FA;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 3px solid #291A2C;  /* creates padding around scroll thumb */
}

/* Header */
header{
    position: relative;
    top: 0;
    left: 0;
    z-index: 14;

    width: auto;
    margin: auto;
    min-width: 100%;
}

div#header {
    right: inherit;
    height: 3.6vw;
    padding: auto;
    letter-spacing: 0.05vw;
    display: flex;
    flex-direction: row;
    color: #eeeac1;
    font-weight: bold;
    z-index: 13;
}

div#header a#texto:link, a#texto:visited {
    white-space: nowrap;
    color: #F6C6FA;
    text-shadow:
    0 0 0.3vw #F6C6FA,
    0 0 0.5vw #bc13fe,
    0 0 1vw #8f03c7; 
    text-decoration: none;
    margin: 1% 5%;
    font-size: 2vw;
 
    transition: .5s;
  }
  
  div#header a#texto:hover{
    text-decoration:  underline white;
    text-decoration-thickness: 0.05vw;
    font-size: 2.5vw;
    color: white;
    transition: .5s;
  }
  .a{
    background-image: linear-gradient(#993399, #562c56);
    display: flex;
    justify-content: space-between;
    padding-top: 1%;
   
  }
  .b{
    background-image: linear-gradient(#562c56, black);
    z-index: 14;
    justify-content: center;
    top: 0;
    position: sticky;
    height: inherit;
   } 
 
div.direita{
  margin-left: auto; 
  display: flex;
  flex-direction: row;
  margin-right: 5%;
  padding: 0.2vw;
}
  #logo{
    width: auto;
    height: 8vw;
    object-fit: fill; 
    padding: 0.2vw;
    transition: .5s;    
    transform: scaleX(-1);
  }
  #logo:hover{
    opacity: 0.6;
    transition: .5s;
  }

  #carrinho{
    width: auto;
    height: 3.6vw;
    object-fit: fill;
    padding-top: 0.5vw;
    padding-left: 2.6vw;
    transition: .5s;
  }
  #carrinho:hover{
    opacity: 0.6;
    transition: .5s;
  }
  #form{
    background-color: #fff;
  }
  
/* Fim Header */

hr{
  background-color:#C724B1 ;
  height: 0.15vw;
  width: 85%;
  margin-top: 4vw;
  margin-bottom: 4vw;
  border-radius: 100%;
  border: #F6C6FA;
  margin-inline: auto;
  border-style: outset;
}
p{
  font-size: 0.8vw;
  color: #fff;
}
.txtgrande{
  margin: auto;
  padding: auto;
  text-align: center;
}

h1{
  font-size: 1.5vw;
  text-transform: uppercase;
  
  color: #F6C6FA;
  text-shadow:
  0 0 0.3vw #F6C6FA,
  0 0 0.5vw #bc13fe,
  0 0 1vw #8f03c7; 
}

h3{
  font-size: 1vw;
  color: #fff;
  text-shadow:
  0 0 0.3vw #F6C6FA,
  0 0 0.5vw #bc13fe,
  0 0 1vw #8f03c7;  
  text-transform: uppercase;

}



/* Carrossel de imagens */
.carousel {
  margin: auto;
  width: 70vw;
  height: 40vw;
  position: relative;

}
.carousel input{
  display: none;

}

.slides {
  width: 100%;
  height: 100%;
  position: absolute; 

}

.slide {
  width: 100%;
  height: 100%;
  position: absolute;
  display: none;

}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;

}

.navigation {
  width: 100%;
  height: 5vw;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
}

.navigation label {
  width: 1vw;
  height: 1vw;
  background-color: #F6C6FA;
  border-radius: 50%;
  border: 0.1vw solid #291A2C;
  margin: 1vw;
  cursor: pointer;
  transition: all 500ms ease-in-out;
}

#slide1:checked ~ .slides .slide:nth-child(1),
#slide2:checked ~ .slides .slide:nth-child(2),
#slide3:checked ~ .slides .slide:nth-child(3),
#slide4:checked ~ .slides .slide:nth-child(4),
#slide5:checked ~ .slides .slide:nth-child(5) {
  display: block;

}

#slide1:checked ~ .navigation :nth-child(1),
#slide2:checked ~ .navigation :nth-child(2),
#slide3:checked ~ .navigation :nth-child(3),
#slide4:checked ~ .navigation :nth-child(4),
#slide5:checked ~ .navigation :nth-child(5) {
 background-color: #291A2C;
  
  
}
/* Fim Carrossel */

/* Catalogo*/

.catalogo{
  display: flex;
  flex-direction: row ;
  z-index: 10;
  width: 80%;
  overflow: auto;
  scroll-snap-type: x mandatory;
  margin: auto;
}
.catalogo::-webkit-scrollbar {
  width: 10px;               /* width of the entire scrollbar */

}

.catalogo::-webkit-scrollbar-track {
  background: #291A2C;        /* color of the tracking area */
}

.catalogo::-webkit-scrollbar-thumb {
  background-color: #F6C6FA;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 3px solid #291A2C;  /* creates padding around scroll thumb */
}
.itemcat{
  width: 9vw;
  height: 10vw;
  padding: 0.78vw;
  margin-inline: 50px;
  text-align: center;
  scroll-snap-align: center;
  opacity: 50%;
}
.itemcat:hover{
  opacity: 100%;
  transition: 250ms ease-in-out;
}
#imgcat{
  height: 5.2vw;
  width: 5.2vw;
  border-radius: 100%;
}
.item{
  width: 10.7vw;
  height: 25vw;
  padding: 0.7vw;
  margin-inline: 2.6vw;
  text-align: center;
  opacity: 50%;
  scroll-snap-align: center;
}
.item:hover{
  opacity: 100%;
  transition: 250ms ease-in-out;
}
#livro{
  width: 9.5vw;
  height: 13.5vw;
}
#livroespecial{
  width: 15.5vw;
  height: 21.5vw;
}




/* Fim Catalogo */

/* Footer */
form{
  background-image: linear-gradient( #0e0e0e,#291A2C, #291A2C);
  display: flex;
  flex-direction: row;
  height: auto;
  width: 100%;
  position: relative;
 
  right: 0;
  left: 0;
  align-items: center;
  justify-content: center;


}
textarea{

   border: 5px solid #993399;
  border-radius: 2px;
  border-style: outset;
  transition: 50ms linear;
  width: 11vw;
  height: 9vw;
}
textarea:focus{
  border: 7px solid #F6C6FA;
  border-radius: 2px;
  border-style: outset;
  transition: 50ms linear;
  width: 15vw;
  height: 11vw;
}

.contatos input{
  border: 3px solid #993399;
  border-radius: 4px;
  border-style: outset;
  width: 10vw;
  height: 1vw;
  transition: 50ms linear;
}
input[type=submit]{
  background-color: #bc13fe;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}
input:focus {
  border: 5px solid #F6C6FA;
  border-radius: 2px;
  border-style: outset;
  transition: 50ms linear;
  width: 15vw;
  height: 2vw;
}
.contatos{
  padding: 3vw;
  width: 30vw;
  height: auto;
} 
#contato{
  text-align: center;
}
 .contatos label{
color:white;

 }
 label,input{
 height: auto;


 }
 button{
  background-color: inherit;
  border: 0px;
  width: 5vw;
 
 }
 button img{
  width: 5vw;
 }
 .redecontainer{
  background-image: linear-gradient( #291A2C,#291A2C, #0e0e0e);
  text-align: center;
 }
 .redesocial{

  display: flex;
  flex-direction: row;
  height: auto;
  width: 100%;
  
  bottom: 1;
  right: 0;
  left: 0;
  align-items: center;
  justify-content: center;


}

 #iconrede{
  width: 6vw;
  padding-left: 1vw;
 }

 
/* Fim Footer */

.principal{
  padding: 2%;
color: white;
margin: 1vw;
margin-right: 0vw;
margin-left: 20vw;
text-indent: 1%;
background-color: #562c56;
  box-shadow: 0 0 0.3vw #8f03c7,
  0 0 0.5vw #bc13fe,
  0 0 2vw #F6C6FA;  
  text-align: center;
}
.principal p{
  font-size: 1vw;

}
#pPlano {
  color: black;
  font-size: 1.5vw;
  background-color: orangered;
  box-sizing: border-box;
  margin: auto;
  width: 10vw;
  text-decoration: none;
  border: 1px solid #4a1c15;
  }
.container{
  margin-top: 10vw;
  margin-right: 9vw;
  padding: 1vw;
  display: flex;
  flex-direction: row;
  background-color: #562c56;
  box-shadow: 0 0 0.3vw #8f03c7,
  0 0 0.5vw #bc13fe,
  0 0 2vw #F6C6FA;  ;
  flex-wrap: wrap;
  text-align: center;
 }


#contador{
  margin-left: 5vw;
}
.contador{
 
  color: black;
  width: 100%;
  height: 8vw;
  
  border-radius: 30px;
  font-size: 1vw;
  color: #fff;
  text-shadow:
  0 0 0.3vw #F6C6FA,
  0 0 0.5vw #bc13fe,
  0 0 1vw #8f03c7;  
  background-color: purple;
  
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
#dias, #horas, #minutos, #segundos {
 margin: auto;
 text-align: center;
}

/* Mobile */
@media all and (max-width: 1000px){

  /* header */
div#header { 
    height: 7vw;
}
div#header a#texto:link, a#texto:visited { 
    font-size: 3vw;
    margin: 1% 1.5%;
  }
#logo{ 
    height: 14vw;    
  }
#carrinho{
    height: 9vw;
    padding-left: 2.6vw;  
  }
/* header */


.catalogo::-webkit-scrollbar {
    display: none;
}

p{
  font-size: 2.8vw;
  color: #fff;
}
h1{
  font-size: 5vw;
}
h3{
  font-size: 3vw;
  color: #fff;
}

.carousel {
  margin: auto;
  width:99%;
  height: 50vw;
  position: relative;

}


.navigation label {
  width: 3vw;
  height: 3vw;
  border: 0.2vw solid #291A2C;
  margin: 1vw; 
}


.itemcat{
  width: 20vw;
  height: 21vw;
  
  margin-inline: 2.6vw;
}

#imgcat{
  height: 12vw;
  width: 12vw;
  border-radius: 100%;
}
.item{
  width: 13vw;
  height: 50vw;
  padding: 1vw;
  margin-inline: 7vw;

}
#livro{
  width: 19.5vw;
  height: 24.5vw;
}
#livroespecial{
  width: 25vw;
  height: 40vw;
}

.redesocial{
  display: block;
  
  height: auto;
  width: 100%;
  
  right: 0;
  left: 0;
 

}
#iconrede{
  width: 20vw;
}
form{
  background-image: linear-gradient( #0e0e0e,#291A2C, #291A2C);
  display: block;
  
  height: auto;
  width: 100%;
  
  right: 0;
  left: 0;
 

}
button{
  background-color: inherit;
  border: 0px;
  width: 10vw;
 
 }
#contato{
margin: auto;
text-align: right;
}


textarea{
  
   border: 5px solid #993399;
  border-radius: 2px;
  border-style: outset;
  transition: 50ms linear;
  width: 50vw;
  height: 30vw;
  resize: none;
}
textarea:focus{
  border: 7px solid #F6C6FA;
  border-radius: 2px;
  border-style: outset;
  transition: 50ms linear;
  width: 55vw;
  height: 35vw;
}

.contatos input{
  border: 3px solid #993399;
  border-radius: 4px;
  border-style: outset;
  width: 40vw;
  height: 4vw;
  transition: 50ms linear;
}

input:focus {
  border: 5px solid #F6C6FA;
  border-radius: 2px;
  border-style: outset;
  transition: 50ms linear;
  width: 50vw;
  height: 5vw;
}





}





/* Fim mobile */