*{
  margin: 0px;
  padding: 0px;
}
body {
    background-image: url(img/wallpaper.png);
}
.bg{
  background-color: rgba(0,0,0,0.7);
}


/* Header */
header{
    position: relative;
    top: 0;
    left: 0;
    z-index: 14;

    width: auto;
    margin: auto;
    min-width: 100%;
}

div#header {
    right: inherit;
    height: 3.6vw;
    padding: auto;
    letter-spacing: 0.05vw;
    display: flex;
    flex-direction: row;
    color: #eeeac1;
    font-weight: bold;
    z-index: 13;
}

div#header a#texto:link, a#texto:visited {
    white-space: nowrap;
    color: #F6C6FA;
    text-shadow:
    0 0 0.3vw #F6C6FA,
    0 0 0.5vw #bc13fe,
    0 0 1vw #8f03c7; 
    text-decoration: none;
    margin: 1% 5%;
    font-size: 1.5vw;
 
    transition: .5s;
  }
  
  div#header a#texto:hover{
    text-decoration:  underline white;
    text-decoration-thickness: 0.05vw;
    font-size: 2vw;
    color: white;
    transition: .5s;
  }
  .a{
    background-image: linear-gradient(#993399, #562c56);
    display: flex;
    justify-content: space-between;
    padding-top: 1%;
   
  }
  .b{
    background-image: linear-gradient(#562c56, black);
    z-index: 14;
    justify-content: center;
    top: 0;
    position: sticky;
    height: inherit;
   } 
 
div.direita{
  margin-left: auto; 
  display: flex;
  flex-direction: row;
  margin-right: 5%;
  padding: 0.2vw;
}
  #logo{
    width: auto;
    height: 5.3vw;
    object-fit: fill; 
    padding: 0.2vw;
    transition: .5s;    
  }
  #logo:hover{
    opacity: 0.6;
    transition: .5s;
  }

  #carrinho{
    width: auto;
    height: 3.6vw;
    object-fit: fill;
    padding-top: 0.5vw;
    padding-left: 2.6vw;
    transition: .5s;
  }
  #carrinho:hover{
    opacity: 0.6;
    transition: .5s;
  }
  
  
/* Fim Header */

hr{
  background-color:#C724B1 ;
  height: 0.15vw;
  width: 85%;
  margin-top: 1vw;
  margin-bottom: 1vw;
  border-radius: 100px;
  border: #C724B1;
  margin-inline: auto;
}
p{
  font-size: 0.8vw;
}
h1{
  font-size: 1.5vw;
  text-transform: uppercase;
  margin: auto;
  padding: auto;
  text-align: center;
  color: #F6C6FA;
  text-shadow:
  0 0 7px #F6C6FA,
  0 0 10px #F6C6FA,
  0 0 21px #F6C6FA,
  0 0 42px #bc13fe,
  0 0 82px #bc13fe,
  0 0 92px #bc13fe,
  0 0 102px #8f03c7,
  0 0 151px #8f03c7;
}

h3{
  font-size: 1vw;
  color: #fff;
  text-shadow:
  0 0 7px #fff,
  0 0 10px #fff,
  0 0 21px #fff,
  0 0 42px #0fa;  
  text-transform: uppercase;

}

p{
  color: #fff;
}

/* Carrossel de imagens */
.carousel {
  margin: auto;
  width: 70vw;
  height: 40vw;
  position: relative;

}
.carousel input{
  display: none;

}

.slides {
  width: 100%;
  height: 100%;
  position: absolute; 
  
}

.slide {
  width: 100%;
  height: 100%;
  position: absolute;
  display: none;

}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;

}

.navigation {
  width: 100%;
  height: 5vw;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
}

.navigation label {
  width: 1vw;
  height: 1vw;
  background-color: #F6C6FA;
  border-radius: 50%;
  border: 0.1vw solid #291A2C;
  margin: 1vw;
  cursor: pointer;
  transition: all 500ms ease-in-out;
}

#slide1:checked ~ .slides .slide:nth-child(1),
#slide2:checked ~ .slides .slide:nth-child(2),
#slide3:checked ~ .slides .slide:nth-child(3),
#slide4:checked ~ .slides .slide:nth-child(4),
#slide5:checked ~ .slides .slide:nth-child(5) {
  display: block;
  
}

#slide1:checked ~ .navigation :nth-child(1),
#slide2:checked ~ .navigation :nth-child(2),
#slide3:checked ~ .navigation :nth-child(3),
#slide4:checked ~ .navigation :nth-child(4),
#slide5:checked ~ .navigation :nth-child(5) {
 background-color: #291A2C;
  
  
}
/* Fim Carrossel */

/* Catalogo*/

.catalogo{
  display: flex;
  flex-direction: row ;
  z-index: 10;
  width: 80%;
  overflow: auto;
  scroll-snap-type: x mandatory;
  margin: auto;
}
.itemcat{
  width: 7.8vw;
  height: 7.8vw;
  padding: 0.78vw;
  margin-inline: 50px;
  text-align: center;
  scroll-snap-align: center;
  opacity: 50%;
}
.itemcat:hover{
  opacity: 100%;
  transition: 250ms ease-in-out;
}
#imgcat{
  height: 5.2vw;
  width: 5.2vw;
  border-radius: 100%;
}
.item{
  width: 10.7vw;
  height: 15.9vw;
  padding: 0.7vw;
  margin-inline: 2.6vw;
  text-align: center;
  opacity: 50%;
  scroll-snap-align: center;
}
.item:hover{
  opacity: 100%;
  transition: 250ms ease-in-out;
}
#livro{
  width: 9.5vw;
  height: 13.5vw;
}




/* Fim Catalogo */

/* Footer */
.footer{
  background-image: linear-gradient( #0e0e0e,#291A2C, #291A2C);
}

/* Fim Footer */

  